<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


    <bean id="myFortuneService"
          class="com.gebarowski.legacy.HappyFortuneService"></bean>
    <bean id="myCoach"
          class="com.gebarowski.legacy.TrackCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myCricketCoach"
          class="com.gebarowski.legacy.CricketCoach">

        <!-- set up setter injection -->
        <property name="fortuneService" ref="myFortuneService"/>

        <!-- set up setter injection -->
        <property name="emailAddress" value="michalgebarowski@coach.com"/>
        <property name="team" value="SuperCoach"/>
    </bean>
</beans>